html, body {
  background: #181818;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}